contourpy
cycler==0.12.1
fonttools==4.53.1
importlib-resources==6.4.5
joblib==1.4.2
kiwisolver==1.4.7
matplotlib
numpy==1.26
packaging==24.1
pandas==2.2.3
patsy==0.5.6
pillow==10.4.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2024.2
scikit-learn==1.5.2
scipy==1.13.1
six==1.16.0
statsmodels==0.14.3
threadpoolctl==3.5.0
tzdata==2024.1
xgboost==2.1.1
zipp==3.20.2
sdv==1.16.1
sktime[all_extras]==0.33.1


